#header, .heading {
    color: red;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    border: 1px solid;
}
.logo-img {
    width: 150px;
}
.nav-items {
    display: flex;
    font-size: 18px;
}
.nav-items li {
    list-style-type: none;
    padding: 16px;
}
.res-card {
    width: 200px;
    padding: 5px;
    border: 1px solid transparent;
    margin: 6px;
    background-color: #f0f0f0;
    cursor: pointer;
}
.res-card:hover {
    border-color: black;
}
.res-card img {
    width: 100%;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}